<div class="container mt-4">
  <h3 class="text-center mb-4">Nuevo Cliente</h3>

  <form (ngSubmit)="guardarCliente()" #formCliente="ngForm">

    <div class="row mb-3">
      <div class="col-md-12">
        <label>Nombre y apellidos o Empresa *</label>
        <input [(ngModel)]="cliente.nombreApellidos" name="nombreApellidos" class="form-control" required />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8">
        <label>Dirección</label>
        <input [(ngModel)]="cliente.direccion" name="direccion" class="form-control" />
      </div>
      <div class="col-md-4">
        <label>Código Postal</label>
        <input [(ngModel)]="cliente.codigoPostal" name="codigoPostal" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Población</label>
        <input [(ngModel)]="cliente.poblacion" name="poblacion" class="form-control" />
      </div>
      <div class="col-md-6">
        <label>Provincia</label>
        <input [(ngModel)]="cliente.provincia" name="provincia" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>Teléfono</label>
        <input [(ngModel)]="cliente.telefono" name="telefono" class="form-control" />
      </div>

      <div class="col-md-6">
        <label>Móvil</label>
        <input [(ngModel)]="cliente.movil" name="movil" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label>CIF / DNI</label>
        <input [(ngModel)]="cliente.cifDni" name="cifDni" class="form-control" />
      </div>

      <div class="col-md-6">
        <label>Email</label>
        <input [(ngModel)]="cliente.email" name="email" class="form-control" />
      </div>
    </div>

    <h5 class="mt-4">Compras del cliente</h5>

    <div class="row mb-3">
      <div class="col">
        <input [(ngModel)]="nuevoTrabajo.descripcion" name="descripcion" placeholder="Descripción" class="form-control" />
      </div>
      <div class="col">
        <input [(ngModel)]="nuevoTrabajo.importe" name="importe" placeholder="Precio (€)" type="number" class="form-control" />
      </div>
      <div class="col">
        <input [(ngModel)]="nuevoTrabajo.importePagado" name="importePagado" placeholder="Pagado (€)" type="number" class="form-control" />
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" (click)="agregarTrabajo()">+</button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Precio (€)</th>
          <th>Pagado (€)</th>
          <th>Diferencia (€)</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of cliente.trabajos; let i = index">
          <td>{{ t.descripcion }}</td>
          <td>{{ t.importe | number:'1.2-2' }}</td>
          <td>{{ t.importePagado | number:'1.2-2' }}</td>
          <td [ngClass]="{'text-danger': t.importePagado < t.importe}">
            {{ t.importe - t.importePagado | number:'1.2-2' }}
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="cliente.trabajos.splice(i,1); recalcularTotales()">x</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-end">
      <p><b>Total debe:</b> {{ cliente.totalImporte | currency:'EUR' }}</p>
      <p><b>Total pagado:</b> {{ cliente.totalPagado | currency:'EUR' }}</p>
      <p><b>Diferencia total:</b> {{ cliente.totalImporte - cliente.totalPagado | currency:'EUR' }}</p>
    </div>

    <div class="text-end mt-3">
      <button class="btn btn-success" type="submit">Guardar cliente</button>
    </div>

  </form>
</div>
